[flake8]
max-line-length = 88
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    venv,
    .venv
ignore = 
    E203,
    W503,
    F401
per-file-ignores =
    __init__.py:F401